@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Poppins";
}

main, .kelas, .quotes {
  height: max-content;
}

header {
  /*border: 2px solid blue;*/
  background-image: linear-gradient(black, black), url('assets/images/gambar2.png');
  background-size: cover;
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  height: 763px;
  color: white;
}

nav {
  background-color: #8d7cc2;
  padding: 10px;
  text-align: right;
  /* border: 2px solid red; */
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  /*border: 2px solid red;*/
}

.box {
  flex-basis: 25%;
  /*border: 2px solid red;*/
  text-align: center;
}

.full {
  flex-basis: 100%;
  text-align: center;
}

.half {
  flex-basis: 50%;
  /*border: 2px solid blue; */
  height: 30px;
}


header h1 {
  font-size: 150px;
  line-height: 150px;
  color: #8d7cc2;
  letter-spacing: 5px;
  font-weight: bolder;
  opacity: 0.8;
  margin-bottom: 80px;
  position: sticky;
}

h1 span {
  color: red;
}


.button {
  text-decoration: none;
  justify-content: center;
  color: white;
  padding: 10px 20px;
  
  background-color: #8d7cc2;
  border-radius: 4px;
}

.button:hover {
    color: #44414c;
}

.kelas .title {
  /*border: 2px solid blue;*/
  color: #44414c;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.kelas, .quotes{
  margin-bottom: 50px;
}

.quotes-border {
  border: 2px solid #8d7cc2;
}

.quotes-body {
  background-color: #8d7cc2;
}

.card-img-top {
  padding: 30px;
}

.pelajaran {
  color: #44414c;
}

.deskripsi {
  color: #44414c;
}

footer {
  color: white;
  background-color: #8d7cc2;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
}


/* Loading */

.page {
  display: none;
}

#loading {
  display: block;

  /*diubah ke fixed agar page loading tetap menutupi keseluruhan viewed halaman saat di-scroll*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #8d7cc2;
  
}

/* Image Loading */
#loading {
  background-image: url(assets/gif/infinity-loading.gif);
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.quote{
  text-align: center;
}
.quote h3 {
  line-height: 2px;

}

@media screen and (max-width: 480px) {
  header {
    height: 915px;
  }
  
  header h1 {
    font-size: 70px;
    line-height: 70px;
  }

  .card-img-top {
    padding: 60px;
  }

  .card {
    padding: 60px;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
  }

  main, .kelas, .quotes {
    height: max-content;
  }

  #loading {
    background-size: 64px;
 }

 footer {
  font-size: 10px;
 }
}

@media screen and (min-width: 991.98px) {
  header h1 {
    font-size: 150px;
    line-height: 150px;
  }

  main, .kelas, .quotes {
    height: max-content;
  }
}

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 150px;
    line-height: 150px;
  }

  main, .kelas, .quotes {
    height: max-content;
  }
}

@media screen and (min-width: 1280px) {
  header {
    height: 800px;
  }

  main, .kelas, .quotes {
    height: max-content;
  }
}

